*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/src/main/java/com/cs5520/assignments/numad22su_nisargpatel/Spoonacular.java
/app/src/main/assets/temp.json
